/* Projects section */
.pg-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.7);
    position: fixed;
    top: 0;
    justify-content: center;
    align-items: center;
    display: none;
    transition: 200ms ease-in-out;
    z-index: 91;
}

.pg2-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.7);
    position: fixed;
    top: 0;
    justify-content: center;
    align-items: center;
    display: none;
    transition: 200ms ease-in-out;
    z-index: 91;
}

.pg3-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.7);
    position: fixed;
    top: 0;
    justify-content: center;
    align-items: center;
    display: none;
    transition: 200ms ease-in-out;
    z-index: 91;
}

.pg4-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.7);
    position: fixed;
    top: 0;
    justify-content: center;
    align-items: center;
    display: none;
    transition: 200ms ease-in-out;
    z-index: 91;
}

.pg5-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.7);
    position: fixed;
    top: 0;
    justify-content: center;
    align-items: center;
    display: none;
    transition: 200ms ease-in-out;
    z-index: 91;
}

.pg6-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.7);
    position: fixed;
    top: 0;
    justify-content: center;
    align-items: center;
    display: none;
    transition: 200ms ease-in-out;
    z-index: 91;
}

.pg7-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.7);
    position: fixed;
    top: 0;
    justify-content: center;
    align-items: center;
    display: none;
    transition: 200ms ease-in-out;
    z-index: 91;
}

.pmodal-content {
    width: 800px;
    height: 800px;
    background-color: white;
    border-radius: 25px;
    overflow-y: hidden;
    overflow-x: hidden;
    position: fixed;
}

.pmodal-content h1 {
    text-align: center;
    margin-top: 20px;
    font: 'opensans-bold', sans-serif;
}

.pmodal-content h5 {
    margin-left: 10px;
    margin-right: 10px;
}

.pmodal-content ul {
    margin: 0 auto;
    font-size: 15;
    list-style: square;
    justify-content: center;
    color: black;
    display: table;
    margin-top: 2em;
    margin-bottom: 3em;
}

.slideshow {
    width: 400px;
    height: 240px;
    text-align: center;
    margin: 0 auto;
    margin-top: 1em;
}

.pclose {
    position: absolute;
    top: 3px;
    right: 5px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}

.pclose2 {
    position: absolute;
    top: 3px;
    right: 5px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}

.pclose3 {
    position: absolute;
    top: 3px;
    right: 5px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}

.pclose4 {
    position: absolute;
    top: 3px;
    right: 5px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}

.pclose5 {
    position: absolute;
    top: 3px;
    right: 5px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}

.pclose6 {
    position: absolute;
    top: 3px;
    right: 5px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}

.pclose7 {
    position: absolute;
    top: 3px;
    right: 5px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}

/* Richard's modal demo */
/* School section */

.bg-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.7);
    position: fixed;
    top: 0;
    justify-content: center;
    align-items: center;
    display: none;
    transition: 200ms ease-in-out;
}

.bg2-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.7);
    position: fixed;
    top: 0;
    justify-content: center;
    align-items: center;
    display: none;
    transition: 200ms ease-in-out;
}

.bg3-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.7);
    position: fixed;
    top: 0;
    justify-content: center;
    align-items: center;
    display: none;
    transition: 200ms ease-in-out;
}

.bg4-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.7);
    position: fixed;
    top: 0;
    justify-content: center;
    align-items: center;
    display: none;
    transition: 200ms ease-in-out;
}

.modal-content {
    width: 700px;
    height: 900px;
    background-color: white;
    border-radius: 25px;
    overflow-y: scroll;
    overflow-x: hidden;
    position: fixed;
}

.modal-content h1 {
    text-align: center;
    margin-top: 20px;
    font: 'opensans-bold', sans-serif;
}

.modal-content h2 {
    margin-left: 10px;
}

.modal-content p {
    margin-left: 10px;
    margin-right: 10px;
}

.close {
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}

.close2 {
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}

.close3 {
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}

.close4 {
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}

@media only screen and (max-height: 1000px) {
    .modal-content {
        width: 720px;
        height: 480px;
    }

    .pmodal-content {
        width: 720px;
        height: 480px;
        overflow-y: scroll;
    }
}

@media only screen and (max-width:480px) {
    .modal-content {
        width: 350px;
        height: 600px;
    }

    .pmodal-content {
        width: 350px;
        height: 600px;
        overflow-y: scroll;
    }

    .pclose {
        top: 15px;
    }

    .pclose2 {
        top: 15px;
    }

    .pclose3 {
        top: 15px;
    }

    .pclose4 {
        top: 15px;
    }

    .pclose5 {
        top: 15px;
    }

    .pclose6 {
        top: 15px;
    }

    .pclose7 {
        top: 15px;
    }

    .close {
        top: 15px;
    }

    .close2 {
        top: 15px;
    }

    .close3 {
        top: 15px;
    }

    .close4 {
        top: 15px;
    }
}

